Source: stsbl-iserv-server-ferm-ipv6
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.1.3.0

Package: stsbl-iserv-server-ferm-ipv6
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  ferm,
  ipset,
  iserv-server-ferm (>= 17.11.27-0),
  iserv-update,
  lsb-base,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: IServ Ferm (IPv6-Support)
 Ergänzt die Ferm-Firewall von IServ um Unterstützung für IPv6.
 .
 Enthält eine restriktive Basis-Konfiguration, die ausschließlich den
 Zugriff per SSH auf den Server erlaubt.
Tag: suite::iserv
